{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mysite</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body style="background: radial-gradient(circle at right, #6abd05, #22193d);height: 1000px;">

<header>
    <div id="containerhome">

    

            <!-- Logo -->
             <div style="display: flex;" >
        
                <b id="ltext" style=" font-size:30px; background: linear-gradient(to right, red, #a855f7);
            -webkit-background-clip: text;
             -webkit-text-fill-color: transparent;
            background-clip: text;
   ">
   Medsite
</b>
</div>
                

            <!-- Navigation -->
            <div>
                <a href="{% url 'home' %}" style="color:white; text-decoration:none; align-items:center;">
                    <b>Home</b>
                </a>
                <a href="{% url 'about' %}" style="color:white; text-decoration:none; align-items:center;">
                    <b id="clink">About</b>
                </a>
                <a href="{% url 'contact' %}" style="color:white; text-decoration:none; align-items:center;">
                    <b id="clink">Contact</b>
                </a>

               
            </div>


            <!-- Button -->

                <button id="btn1"
                        style="height:40px; width:100px; border-radius:20px;
                        border:none; background-color:#c8f04a;">
                    let talk
                </button>


    

    </div>
</header>
<main>
    <div style="display: flex;flex-direction:row;justify-content:space-between;flex-wrap:wrap;">
    <div style="margin-top:80px;" >
        <p style=" color: wheat;font-size:70px;font-family:Georgia, 'Times New Roman', Times, serif;display:inline" >HELLO!<br> </p>
         <p style="color: wheat;font-size:xx-large;font-size:70px;position:relative;display:inline"> I AM MOHAMED CONTEH </p><BR>
         
               <b id="ltext" style="padding-top:200px; font-size:30px; background: linear-gradient(to left, rgb(25, 4, 144), #0a0a0a,rgb(249, 6, 6));
            -webkit-background-clip: text;
             -webkit-text-fill-color: transparent;
            background-clip: text;
   ">
   A DEDICATED FULL STACK WEB DEVELOPER
</b>


 </div>          
<div style="margin-top:40px;">
     <img src="{%static 'images/busm.jpg' %} " style="positon:fixed;   height:400px;max-width: 400px;border-radius: 10%;margin-top: 50px;">
</div>
    </div>
    <a href="{% url 'about' %}">
    <input type="button" id="btn2" value="Read More" style="height:40PX;width:100px; border-radius:20px;border:none;background-color:green;margin-left:20px;">
</a>
</main>




<script src="{% static 'scripts.js' %}"></script>

</body>
</html>